@charset "utf-8";

@font-face {
    font-family: 'notosans';
    font-weight: 300;
    src: url('../font/static/NotoSansKR-Thin.ttf');
}

@font-face {
    font-family: 'notosans';
    font-weight: 400;
    src: url('../font/static/NotoSansKR-Regular.ttf');
}

@font-face {
    font-family: 'notosans';
    font-weight: 500;
    src: url('../font/static/NotoSansKR-Medium.ttf');
}

@font-face {
    font-family: 'notosans';
    font-weight: 600;
    src: url('../font/static/NotoSansKR-Black.ttf');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    font-family: 'notosans';
    color: #666;
    width: 100%;
    min-width: 1220px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #fff;
}

.inConts {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header--------------------- */

header {
    width: 100%;
    background-color: #fff;
}

.header-sub {
    width: 100%;
    text-align: right;
}

.header-sub a {
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #555;
    display: inline-block;
    vertical-align: top;
}

.header-sub a+a {
    margin-left: 12px;
    position: relative;
}

.header-sub a+a::before {
    content: '';
    width: 1px;
    height: 8px;
    margin-top: -4px;
    background-color: #d6d6d6;
    display: inline-block;
    position: absolute;
    left: -7px;
    top: 50%;
}

.header {
    width: 100%;
    background-color: #fff;
    z-index: 7;
    position: relative;
}

.header::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c49a6b;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header .inConts {
    display: table;
    table-layout: fixed;
    padding: 0;
}

.header .inConts > * {
    display: table-cell;
    vertical-align: middle;
}

.header h1 {
    width: 260px;
}
.header h1 img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header nav {}
.header nav .gnb {
    text-align: center;
}
.header nav .gnb > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.header nav .gnb > li > a {
    width: 100%;
    height: 100px;
    padding: 0 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    color: #111;
    letter-spacing:  -0.03em;
    display: table;
    box-sizing: border-box;
}

.header nav .gnb > li:hover > a,
.header nav .gnb > li.active > a,
.header nav .gnb > li.oPage > a {
    color: #8c6239;
    font-weight: bold;
}

.header nav .gnb > li > a > span {
    padding: 5px 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.header nav .gnb > li > a > span::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #c49a6b;
    margin-left: -7px;
    display: inline-block;
    left: 50%; bottom: 5px;
    z-index: 7;
    border-radius: 99px;
    opacity: 0;
    transition: all .3s ease-out;
    transform-origin: 50% 50%;
}

.header nav .gnb > li:hover > a > span::before,
.header nav .gnb > li.active > a > span::before,
.header nav .gnb > li.oPage > a > span::before {
    bottom: -7px;
    opacity: 1;
}


.header .gnbSub {
    width: 158px;
    margin-left: -79px;
    padding: 0 15px;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #bc9468;
    border-top: 0;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 6;
    height: auto;
    display: none;
}

.header .gnbSub > li+li {
    border-top: 1px solid #e2e2e2;
}

.header nav .gnb > li:hover .gnbSub {
    display: block;
}

.header .gnbSub > li > a {
    width: 100%;
    height: 41px;
    font-size: 14px;
    line-height: 1.3;
    color: #636363;
    text-align: center;
    display: table;
    box-sizing: border-box;
    transition: all .3s ease-out;
    transform-origin: 50% 50%;
}

.header .gnbSub > li > a > span {
    padding: 5px 0;
    display: table-cell;
    vertical-align: middle;
}

.header .gnbSub > li > a:hover,
.header .gnbSub > li.active > a,
.header .gnbSub > li.oPage > a {
    color: #c49a6b;
}

.header .sua {
    width: 270px;
}

.header .sua > a {
    width: 64px;
    padding: 0;
    background-color: #231f20;
    border: 1px solid #bc955c;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    letter-spacing: -0.003em;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 99px;
}

/* mVisual ---------------- */
.mVisual {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.mVisual .banner {
    max-width: 100%;
}
.mVisual .banner .swiper-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 812px;
}
.mVisual .banner .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 812px;
    background-color: black;
    position: relative;
}
.mVisual .banner .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 812px;
    object-fit: cover;
}

.mVisual .banner .swiper-wrapper .swiper-slide iframe {
    height: 812px;
    width: 1444px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mVisual .swiper-next {
    position: absolute;
    background: url('../images/btn_bx_next.png') no-repeat center;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
    width: 80px;
    height: 160px;
    z-index: 6;
}
.mVisual .swiper-prev {
    position: absolute;
    background: url('../images/btn_bx_prev.png') no-repeat center;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    width: 80px;
    height: 160px;
    z-index: 6;
}

.mVisual .swiper-pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 6;
    display: inline-block;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #d1d1d1;
}

.swiper-pagination-bullet-active {
    background-color: #c49a6b;
}

.swiper-horizontal>
.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets 
.swiper-pagination-bullet {
    margin: 0 10px;
}

/* mConts mMenu */
.mMenu {
    padding: 100px 0 170px;
    background: #f3f3f3 url('../images/bg_menu.png') no-repeat left center ;
}
.mConts {
    width: 100%;
    position: relative;
}
.mMenu .inConts {
    width: 1346px;
}
.mMenu .mTitle {
    padding: 60px 0;
    margin-bottom: 15px;
}
.mTitle {
    margin-bottom: 45px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.03em;
    position: relative;
}
.mMenu .mTitle::before {
    background-image: url('../images/icon_ddom_left02.png');
    position: absolute;
    content: '';
    width: 34px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
} 
.mTitle > dt {
    font-weight: bold;
    font-size: 32px;
    color: #20221f;
}
.mTitle > dd {
    padding-top: 15px;
    font-size: 18px;
    color: #636363;
}

.wrap-slider {
    width: 1346px;
    margin: 0 auto;
    position: relative;
}

.wrap-slider .more {
    padding: 0 88px 15px;
    text-align: right;
}

.sliderBox {
    width: 100%;
    padding: 0 60px 0 72px;
}

.sliderBox .slider-wrapper {
    width: 100%;
}
.sliderBox .slider-wrapper .swiper-wrapper{
    width: 304px;
    height: 100%;

}
.sliderBox .slider-wrapper .swiper-wrapper img{
    width: 280px;
    height: 100%;
}

.wrap-slider .menu-next {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    background: url('../images/btn_slisk_next.png') no-repeat center;
    padding: 1px 6px;
    width: 28px; height: 100px;
    z-index: 6;
}
.wrap-slider .menu-prev {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    background: url('../images/btn_slisk_prev.png') no-repeat center;
    padding: 1px 6px;
    width: 28px; height: 100px;
    z-index: 6;
}

/* mConts mShop */
.mShop {
    padding: 160px 0 180px;
    background: #fff url('../images/bg_withme.png') no-repeat right 43px;

}

.mShop .shopSch {
    width: 100%;
    height: 189px;
    padding: 45px 0 50px;
    border: 1px solid #c1c1c1;
    border-top: 3px solid #27272c;
}

.mShop .shopSch .inBox {
    width: 765px;
    margin: 0 auto;
    padding-right: 240px;
    position: relative;
}

.mShop .shopSch .inBox dl {
    padding-left: 78px;
    position: relative;
}

.mShop .shopSch .inBox dl > dt {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #27272c;
    position: absolute;
    left: 0; top: 0;
}
.mShop .shopSch .inBox dl > dd.two {
    display: flex;
    justify-content: space-between;
}
.mShop .shopSch select {
    padding-right: 30px;
    background: #fff url('../images/arr_sch.png') no-repeat 95%;
    line-height: 40px;
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #dbdbdb;
    font-weight: 300;
    font-size: 15px;
    color: #666;
    letter-spacing: -1px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10px;
}
option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0 2px 1px;
}
.mShop .shopSch input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    font-weight: 300;
    font-size: 15px;
    line-height: 38px;
    color: #666;
    letter-spacing: -1px;
    vertical-align: top;
    display: inline-block;
}
.mShop .shopSch input[type=submit] {
    width: 220px;
    height: 90px;
    padding: 0;
    background-color: #443f3b;
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    letter-spacing: -1;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.mbanner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.mBtm {
    background-color: #242122;
    height: 930px;
    text-align: center;
}

.mBtm img {
    width: 1903px;
    height: 930px;
    object-fit: cover;
    display: inline-block;
}

#quick-btm {
    width: 100%;
    padding: 20px 0;
    background-color: #342f2f;
    text-align: center;
    position: fixed; 
    left: 0; bottom: 0;
    z-index: 8;
}

#quick-btm.on {
    position: relative;
    bottom: 469px;
}

#quick-btm .inConts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#quick-btm .tit {
    padding-right: 25px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #b7915a;
    display: inline-block;
    vertical-align: top;
}
#quick-btm .tit span {
    color: #fff;
}

#quick-btm .quick-btn {
    position: relative;
    padding: 0 40px 0 30px;
    line-height: 40px;
    background-color: #b69157;
    border: none;
    font-weight: 500;
    font-size: 17px;
    color: #f4eae2;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
#quick-btm .quick-btn::before {
    content: '';
    position: absolute;
    top: 15px;
    right: 24px;
    border-style: solid;
    border-color: #fff;
    border-width:  0px 2px 2px 0;
    padding: 4px;
    -webkit-transform: rotate(-45deg);
    margin-left: -10px;
}

/* footer */
footer {
    width: 100%;
    padding-bottom: 95px;
    background-color: #151414;
    text-align: left;
    position: relative;
}

footer .link {
    background-color: #151414;
}
footer .link a.txt {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 74px;
    color: #939598;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
footer .link a.txt+a.txt {
    padding: 0 11px 0 110px;
}
footer .link .social {
    position: absolute;
    right: 0;
    top: 23px;
    display: inline-block;
}
footer .link .social > a {
    display: inline-block;
    vertical-align: top;  
}
footer .link .inConts {
    text-align: left;
    border-bottom: 1px solid #939598;
}

.mb80 {
    margin-bottom: 80px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.tac {
    text-align: center !important;
}
footer .text {
    height: 69px;
}
footer .text > p > span,
footer .text > address {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #939598;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

footer .text > p > span+span {
    margin-left: 30px;
}

footer .text > p.inner-text > span {
    font-size: 16px;
    font-weight: 500;
    color: #d1d3d4;
}

footer .text > p.inner-text > span+span {
    margin-left: 12px;
}

footer .text > address {
    font-weight: 500;
}

.floating-area{
    position: fixed; 
    right:10px; 
    bottom:80px; 
    z-index:9; 
    display:inline-block;
}
.floating-area>a{
    width:150px; 
    margin-bottom:10px; 
    display:block; 
    animation-duration: .7s; 
    animation-iteration-count:infinite; 
    animation-timing-function:ease-in-out; 
    animation-direction:alternate;
}
.floating-area>a:nth-child(1){animation-name: dungdung_01;}
.floating-area>a:nth-child(2){animation-name: dungdung_02;}
.floating-area>a>img {
    width: 150px;
    width: 150px;
    object-fit: cover;
}
@keyframes dungdung_01 {
    from {transform: translateY(2%);}
    to {transform: translateY(-2%);}
}
@keyframes dungdung_02 {
    from {transform: translateY(1%);}
    to {transform: translateY(-1%);}
}